@media screen and (max-width: 950px) {
    .user{
        width: 98%;
        padding: 3px 3px;
        border-bottom: 2px solid black;
        border-right: 0px;
    }
    .comp{
        width: 98%;
        padding: 3px 3px;
        border-left: 0px;
        border-top: 2px solid black;
    }
}